.button {
    width: 100%;
    color: var(--color-primary-light);
    background-color: var(--color-secondary);
    padding: .7rem;
    font-weight: 900;
    margin: 1rem 0;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: .5rem;
    box-shadow: 1px 1rem 10px var(--color-secondary-shadow);
    transition: all .3s;
    &:hover {
        cursor: pointer;
        background-color: var(--color-secondary-lighter);

    }
}