.card {
    max-width: 22rem;
    background-color: var(--color-primary-light);
    border-radius: 1.5rem;
    text-align: center;
    overflow: hidden;
    margin: 5rem auto;
    box-shadow: 1px 1rem 10px var(--color-secondary-shadow);
    @media only screen and (max-width: 600px) {
        min-width: 21rem;
        
    }
}